nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #90caf9;
  padding: 0 10px;

  span {
    font-size: 24px;
    font-weight: 300;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 10px 20px;

      a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        cursor: pointer;

        &:hover {
          color: #5d99c6;
        }
      }
    }
  }
}
